[submodule "beta"]
	path = beta
	url = https://github.com/cottonseedsorg/cottonseeds.git
[submodule "sql"]
	path = sql
	url = https://github.com/durgesh-sahani/google-cloud-storage-php-mysql.git
[submodule "interview"]
	path = interview
	url = https://github.com/cottonseedsorg/interview.git
